:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#main * {
    display: inline-flex;
}

#contextmenu {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
}

#contextmenu > div {
    width: 100px;
}

.editor {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    flex-direction: column;
}

.editor * {
    user-select: none;
}

.editor > .header {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 20px;
    border-bottom: 1px solid black;
}

.spacer {
    flex-grow: 1;
    flex-shrink: 1;
}

.editor > .header > .closebutton {
    width: 20px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.editor > .menu {
    height: 50px;
    border-bottom: 1px solid black;
    align-items: center;
}

.editor > .menu > .menubutton {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.editor > .menu > .menubutton:hover {
    background-color: lightgrey;
}

.editor > .menu > .menubutton:active {
    background-color: grey;
}

.editor > .body {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: scroll;
}

.editor > .body > div {
    height: 100%;
}

.editor > .body > .resizer {
    flex-basis: 5px;
    flex-shrink: 0;
    flex-grow: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.editor > .body > .table {
    flex-shrink: 1;
    flex-grow: 1;
}

.editor > .body > .tree {
    overflow: scroll;
}

.editor > .body > .tree * {
    flex-shrink: 0;
    flex-grow: 0;
}

.treenodecontainer {
    height: 20px;
}

.treenode, .treenodeitem, .treenodechildcontainer {
    width: 100%;
}

.tree {
    flex-direction: column;
}

.treenode {
    flex-direction: column;
}

.treenode:focus-visible {
    outline: none;
}

.treenodechildcontainer {
    flex-direction: column;
}

.treenodeexpandbuttoncontainer {
    align-items: center;
    justify-content: center;
}

.treenodeexpandbutton {
    width: 60%;
    height: 60%;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 1;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.editor .tree .treenode.selected > .treenodecontainer > .treenodename {
    background-color: lightgray;
}